test_results.html
test_schedule_playoffs.html
test_schedule_regular.html
test_schedule.html
test.html

.env
*.pyc

__pycache__/*
node_modules/*
http_cache.sqlite
scraper_state.json
.vscode/settings.json
app/__pycache__/main.cpython-314.pyc
.gitignore
pytest.ini
app/__pycache__/main.cpython-310.pyc
app/__pycache__/test_main.cpython-310-pytest-9.0.1.pyc
scraper/__pycache__/parser.cpython-310.pyc
tests/pytest.ini
tests/__pycache__/conftest.cpython-310-pytest-9.0.1.pyc
tests/__pycache__/test_crud_game.cpython-310-pytest-9.0.1.pyc
tests/__pycache__/test_crud_team.cpython-310-pytest-9.0.1.pyc
tests/__pycache__/test_integration_integrity.cpython-310-pytest-9.0.1.pyc
tests/unit/__pycache__/test_models.cpython-310-pytest-9.0.1.pyc
tests/unit/__pycache__/test_stats.cpython-310-pytest-9.0.1.pyc
